<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CoSns</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPasswd</display-name>
    <servlet-name>ResetPasswd</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.ResetPasswd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswd</servlet-name>
    <url-pattern>/ResetPasswd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pop</display-name>
    <servlet-name>Pop</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.Pop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pop</servlet-name>
    <url-pattern>/Pop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFriend</display-name>
    <servlet-name>AddFriend</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.AddFriend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFriend</servlet-name>
    <url-pattern>/AddFriend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateProject</display-name>
    <servlet-name>CreateProject</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.CreateProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProject</servlet-name>
    <url-pattern>/CreateProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinProject</display-name>
    <servlet-name>JoinProject</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.JoinProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinProject</servlet-name>
    <url-pattern>/JoinProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetFavProject</display-name>
    <servlet-name>SetFavProject</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.SetFavProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetFavProject</servlet-name>
    <url-pattern>/SetFavProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Announce</display-name>
    <servlet-name>Announce</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.Announce</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Announce</servlet-name>
    <url-pattern>/Announce</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewTask</display-name>
    <servlet-name>NewTask</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.NewTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewTask</servlet-name>
    <url-pattern>/NewTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewDoc</display-name>
    <servlet-name>NewDoc</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.NewDoc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewDoc</servlet-name>
    <url-pattern>/NewDoc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewShare</display-name>
    <servlet-name>NewShare</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.NewShare</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewShare</servlet-name>
    <url-pattern>/NewShare</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExitProject</display-name>
    <servlet-name>ExitProject</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.ExitProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitProject</servlet-name>
    <url-pattern>/ExitProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMessages</display-name>
    <servlet-name>ShowMessages</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.ShowMessages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMessages</servlet-name>
    <url-pattern>/ShowMessages</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProjects</display-name>
    <servlet-name>ShowProjects</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.ShowProjects</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProjects</servlet-name>
    <url-pattern>/ShowProjects</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMessage</display-name>
    <servlet-name>ShowMessage</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.message.ShowMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMessage</servlet-name>
    <url-pattern>/ShowMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnFavProject</display-name>
    <servlet-name>UnFavProject</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.account.UnFavProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnFavProject</servlet-name>
    <url-pattern>/UnFavProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfile</display-name>
    <servlet-name>EditProfile</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.account.EditProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfile</servlet-name>
    <url-pattern>/EditProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditSettings</display-name>
    <servlet-name>EditSettings</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.account.EditSettings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSettings</servlet-name>
    <url-pattern>/EditSettings</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMessage</display-name>
    <servlet-name>DeleteMessage</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.message.DeleteMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMessage</servlet-name>
    <url-pattern>/DeleteMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAnnouncement</display-name>
    <servlet-name>DeleteAnnouncement</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.project.DeleteAnnouncement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAnnouncement</servlet-name>
    <url-pattern>/DeleteAnnouncement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDoc</display-name>
    <servlet-name>DeleteDoc</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.project.DeleteDoc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDoc</servlet-name>
    <url-pattern>/DeleteDoc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteShare</display-name>
    <servlet-name>DeleteShare</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.project.DeleteShare</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteShare</servlet-name>
    <url-pattern>/DeleteShare</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTask</display-name>
    <servlet-name>DeleteTask</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.project.DeleteTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTask</servlet-name>
    <url-pattern>/DeleteTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAccounts</display-name>
    <servlet-name>ShowAccounts</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.account.ShowAccounts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAccounts</servlet-name>
    <url-pattern>/ShowAccounts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet do deal with login process</description>
    <display-name>signinSVL</display-name>
    <servlet-name>signinSVL</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.signinSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signinSVL</servlet-name>
    <url-pattern>/signinSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPwdSVL</display-name>
    <servlet-name>ResetPwdSVL</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.ResetPwdSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPwdSVL</servlet-name>
    <url-pattern>/ResetPwdSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet to deal with the sign up process</description>
    <display-name>signupSVL</display-name>
    <servlet-name>signupSVL</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.signupSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signupSVL</servlet-name>
    <url-pattern>/signupSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProjectList</display-name>
    <servlet-name>ShowProjectList</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.ShowProjectList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProjectList</servlet-name>
    <url-pattern>/ShowProjectList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProjectSVL</display-name>
    <servlet-name>ShowProjectSVL</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.ShowProjectSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProjectSVL</servlet-name>
    <url-pattern>/ShowProjectSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUserSVL</display-name>
    <servlet-name>ShowUserSVL</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.ShowUserSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUserSVL</servlet-name>
    <url-pattern>/ShowUserSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUserListSVL</display-name>
    <servlet-name>ShowUserListSVL</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.ShowUserListSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUserListSVL</servlet-name>
    <url-pattern>/ShowUserListSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowHomeNewsSVL</display-name>
    <servlet-name>ShowHomeNewsSVL</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.ShowHomeNewsSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowHomeNewsSVL</servlet-name>
    <url-pattern>/ShowHomeNewsSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProfileNewsSVL</display-name>
    <servlet-name>ShowProfileNewsSVL</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.ShowProfileNewsSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProfileNewsSVL</servlet-name>
    <url-pattern>/ShowProfileNewsSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMsgBoardList</display-name>
    <servlet-name>ShowMsgBoardList</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.ShowMsgBoardList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMsgBoardList</servlet-name>
    <url-pattern>/ShowMsgBoardList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAnnounceListSVL</display-name>
    <servlet-name>ShowAnnounceListSVL</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.ShowAnnounceListSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAnnounceListSVL</servlet-name>
    <url-pattern>/ShowAnnounceListSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDocListSVL</display-name>
    <servlet-name>ShowDocListSVL</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.ShowDocListSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDocListSVL</servlet-name>
    <url-pattern>/ShowDocListSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTaskListSVL</display-name>
    <servlet-name>ShowTaskListSVL</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.ShowTaskListSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTaskListSVL</servlet-name>
    <url-pattern>/ShowTaskListSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSharing</display-name>
    <servlet-name>ShowSharing</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.ShowSharing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSharing</servlet-name>
    <url-pattern>/ShowSharing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostMsgSVL</display-name>
    <servlet-name>PostMsgSVL</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.PostMsgSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostMsgSVL</servlet-name>
    <url-pattern>/PostMsgSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostAnnounceSVL</display-name>
    <servlet-name>PostAnnounceSVL</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.PostAnnounceSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostAnnounceSVL</servlet-name>
    <url-pattern>/PostAnnounceSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostDocSVL</display-name>
    <servlet-name>PostDocSVL</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.PostDocSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostDocSVL</servlet-name>
    <url-pattern>/PostDocSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostTaskSVL</display-name>
    <servlet-name>PostTaskSVL</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.PostTaskSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostTaskSVL</servlet-name>
    <url-pattern>/PostTaskSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostSharingSVL</display-name>
    <servlet-name>PostSharingSVL</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.PostSharingSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostSharingSVL</servlet-name>
    <url-pattern>/PostSharingSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostReSharingSVL</display-name>
    <servlet-name>PostReSharingSVL</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.PostReSharingSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostReSharingSVL</servlet-name>
    <url-pattern>/PostReSharingSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindUserSVL</display-name>
    <servlet-name>FindUserSVL</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.FindUserSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUserSVL</servlet-name>
    <url-pattern>/FindUserSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindProjectSVL</display-name>
    <servlet-name>FindProjectSVL</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.FindProjectSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindProjectSVL</servlet-name>
    <url-pattern>/FindProjectSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateProjectSVL</display-name>
    <servlet-name>CreateProjectSVL</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.CreateProjectSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProjectSVL</servlet-name>
    <url-pattern>/CreateProjectSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FavProjectSVL</display-name>
    <servlet-name>FavProjectSVL</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.FavProjectSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FavProjectSVL</servlet-name>
    <url-pattern>/FavProjectSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinProjectSVL</display-name>
    <servlet-name>JoinProjectSVL</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.JoinProjectSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinProjectSVL</servlet-name>
    <url-pattern>/JoinProjectSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FollowSVL</display-name>
    <servlet-name>FollowSVL</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.FollowSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FollowSVL</servlet-name>
    <url-pattern>/FollowSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnFollowSVL</display-name>
    <servlet-name>UnFollowSVL</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.UnFollowSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnFollowSVL</servlet-name>
    <url-pattern>/UnFollowSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserProfileSVL</display-name>
    <servlet-name>UpdateUserProfileSVL</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.UpdateUserProfileSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserProfileSVL</servlet-name>
    <url-pattern>/UpdateUserProfileSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SigninSVL</display-name>
    <servlet-name>SigninSVL</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.SigninSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SigninSVL</servlet-name>
    <url-pattern>/SigninSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupSVL</display-name>
    <servlet-name>SignupSVL</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.SignupSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupSVL</servlet-name>
    <url-pattern>/SignupSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProjectListSVL</display-name>
    <servlet-name>ShowProjectListSVL</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.ShowProjectListSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProjectListSVL</servlet-name>
    <url-pattern>/ShowProjectListSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMsgBoardListSVL</display-name>
    <servlet-name>ShowMsgBoardListSVL</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.ShowMsgBoardListSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMsgBoardListSVL</servlet-name>
    <url-pattern>/ShowMsgBoardListSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProjectMsgBoardListSVL</display-name>
    <servlet-name>ShowProjectMsgBoardListSVL</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.ShowProjectMsgBoardListSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProjectMsgBoardListSVL</servlet-name>
    <url-pattern>/ShowProjectMsgBoardListSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignoutSVL</display-name>
    <servlet-name>SignoutSVL</servlet-name>
    <servlet-class>hk.edu.uic.cosns.controller.servlets.SignoutSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignoutSVL</servlet-name>
    <url-pattern>/SignoutSVL</url-pattern>
  </servlet-mapping>
</web-app>